* {
  box-sizing: border-box;
}


:root {
  --header-height: 59px;
  --footer-height: 45px;
  --purple: hsl(320, 80%, 28%);
  --purple-darker: hsl(from var(--purple) calc(h - 20) s calc(l - 20));
  --purple-dark: hsl(from var(--purple) calc(h - 30) s calc(l - 10));
  --purple-light: hsl(from var(--purple) h s calc(l + 20)); 
  --white: #ebebeb;
  --black: #000;
  --font-size: 15pt;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--purple-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(
      circle at center,
      var(--purple),
      var(--purple-dark)
    );
}

ul {
  list-style: none;
}

li {
  position: relative;
  padding-left: 1.5rem;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  transform: translateY(50%);
  width: 0;
  height: 0;
  border-left: 8px solid var(--purple-light);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
