name: Build and Deploy via FTP

on:
  push:
    branches:
      - main
  workflow_dispatch: # Erlaubt manuelles Triggern des Workflows

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install Dependencies
        run: npm ci
      
      - name: Build Project
        run: npm run build
      
      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp
      
      - name: Deploy via FTP
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          FTP_SERVER_PATH: ${{ secrets.FTP_SERVER_PATH }}
        run: |
          lftp -c "
          set ftp:ssl-allow no;
          set ftp:passive-mode on;
          open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_SERVER;
          mirror --reverse --delete --verbose --exclude .git/ --exclude .github/ --exclude node_modules/ ./dist/ $FTP_SERVER_PATH;
          bye;
          "
